.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 400px;
    padding: 0 30px;
    margin: 100px auto 0 auto;
    box-shadow: 0px 0px 60px -10px rgba(0,0,0,0.7);

    .profile__info {
        font-weight: bold;
    }

    .profile__image{
        border-radius: 50%;
        margin: 25px;
    }
    .profile__email{
        .mail--stroke{
            text-decoration: line-through;
        }
    }
}
